
<form action='/login' method='post' class="form-signin" role="form">

	<div class="input-group">
	  <span class="input-group-addon">consumer_key</span>
      <input id="consumer_key" type="text" name="consumer_key" class="form-control" placeholder="consumer_key"/>
	</div>
	
	<div class="input-group">
	  <span class="input-group-addon">consumer_secret</span>
      <input id="consumer_secret" type="text" name="consumer_secret" class="form-control" placeholder="consumer_secrets"/>
	</div>

	<div class="input-group">
	  <span class="input-group-addon">oauth_token</span>
      <input id="token" type="text" name="token" class="form-control" placeholder="oauth_token"/>
	</div>

	<div class="input-group">
	  <span class="input-group-addon">oauth_token_secret</span>
      <input id="token_secret" type="text" name="token_secret" class="form-control" placeholder="oauth_token_secret"/>
	</div>
	<br>
  <div class="input-group">
    <div class="controls">
      <button class="btn btn-lg btn-primary" type="submit">Acessar</button>
    </div>
  </div>
</form>

