<form action='/login' method='post' class="form-horizontal">

    <div class="control-group">
      <label class="control-label" for="key">consumer_key</label>
      <div class="controls">
        <input id="consumer_key" type="text" name="consumer_key"/>
      </div>
    </div>

    <div class="control-group">
      <label class="control-label" for="consumer_secret">consumer_secret</label>
      <div class="controls">
        <input id="consumer_secret" type="text" name="consumer_secret"/>
      </div>
    </div>

  <div class="control-group">
    <label class="control-label" for="token">oauth_token</label>
    <div class="controls">
      <input id="token" type="text" name="token"/>
    </div>
  </div>
  
  <div class="control-group">
    <label class="control-label" for="token_secret">oauth_token_secret</label>
    <div class="controls">
      <input id="token_secret" name="token_secret" type="text" />
    </div>
  </div>
  
  <div class="control-group">
    <div class="controls">
      <button class="btn" type="submit">Acessar</button>
    </div>
  </div>
</form>