<!DOCTYPE html>
<html>
  <head>
    <title>Twitter Sinatra</title>
    <script src="/bootstrap/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
	
  </head>
  <body style="padding-top: 5px;">
	<div class="container">
	
		<div class="navbar navbar-default" role="navigation">
		        <div class="navbar-header">
		          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
		            <span class="sr-only"></span>
		            <span class="icon-bar"></span>
		            <span class="icon-bar"></span>
		            <span class="icon-bar"></span>
		          </button>
		          <a class="navbar-brand" href="/">MyTwitter</a>
		        </div>
		        <div class="navbar-collapse collapse">
		          <ul class="nav navbar-nav">			        
			        <li><a href="/secure/timeline">Home</a></li>
					<li><a href="/secure/sendtweet">Enviar mensagem</a></li>
			        <li><a href="/login">Login</a></li>
			        <li><a href="/logout">Logout</a></li>
		          </ul>
		        </div>
	    </div>
        <%if @error then %>
			<div class="alert alert-danger alert-dismissable">
		  	  <%=@error%>
			</div>
        <% end %>
        <%= yield %>
    </div>
  </body>
</html>