<form action='/secure/sendtweet' method='post' class="form-horizontal">
  
  <div class="control-group">
    <label class="control-label" for="mensagem">Mensagem</label>
    <div class="controls">
      <input id="mensagem" type="text" name="mensagem"/>
    </div>
  </div>
  
  <div class="control-group">
    <div class="controls">
      <button class="btn" type="submit">Enviar mensagem</button>
    </div>
  </div>
</form>