<form action='/secure/sendtweet' method='post' class="form-horizontal" role="form">
  
  	<div class="input-group">
  	  <span class="input-group-addon">Mensagem</span>
    	<textarea name="mensagem" class="form-control" rows="3" placeholder="Entre com a sua mensagem..."></textarea>
	</div>
	<br>
  <div class="input-group">
    <div class="controls">
      <button class="btn btn-primary" type="submit">Enviar mensagem</button>
    </div>
  </div>
</form>